<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
       Doação de Sangue  
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-item-group>
<ion-item-divider>

  <ion-label >
    <h1>
    Como você deve estar para conseguir doar sangue:
    </h1>
  </ion-label>
</ion-item-divider>



<ion-item>
<ion-thumbnail slot="start">
  <img
    src="https://i.pinimg.com/736x/be/e4/64/bee464ba8aeac5e3aa6b733ec1e97047.jpg"
  />
</ion-thumbnail>
<ion-label>
Ser saudável
</ion-label>
</ion-item>

<ion-item>
  
  <ion-label>Ter entre 16 e 69 anos</ion-label>
</ion-item>

<ion-item>
  <ion-label>Não fumar 2h antes e depois da doação</ion-label>
</ion-item>


<ion-item>
<ion-label>Não estar em jejum</ion-label>
</ion-item>


<ion-item>
<ion-label>Não comer comidas gordurosas</ion-label>
</ion-item>


<ion-item>
<ion-label>Não ter feito endoscopia 6 meses antes da doação</ion-label>
</ion-item>


<ion-item>
<ion-label>Não ter feito piercing e tatuagem 12 meses antes da doação</ion-label>
</ion-item>

</ion-item-group>

</ion-content>
